<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Encoding" value="windows-1255"/>
    <add key="DefaultLogLevel" value="all"/>
    <add key="NumLogLinesForAutoDetect" value="50"/>
    <add key="LiveListeningOnByDefault" value="True"/>
    <add key="GridDateTimeFormat" value="dd/MM/yyyy HH:mm:ss,fff"/>
         </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
